@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
  /* min-height: 405vh; */

  background: url('images/bg-header-desktop.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  position: relative;
}
/*
body::after {
  margin: -8.125rem 0;
  content: ' ';
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  height: 100%;
  width: 1440px;

  position: absolute;
  z-index: -1;

  background: url('design/desktop-design.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
} */

/* HERO */
.container {
  max-width: 700px;
  margin: 8.125rem auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-bottom: 3.4rem;
  width: 8rem;
}

.heading--primary {
  color: var(--dark-grayish-blue);
  font-size: 2.78rem;
  margin-bottom: 1.2rem;
}

.container .description {
  text-align: center;
  line-height: 1.5;
  font-size: 1.27rem;
  color: var(--grayish-blue);

  margin-bottom: 3rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  column-gap: 1.24rem;

}

.btn {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 2rem;
  transition: background-color 0.4s, box-shadow 0.4s;
}

.green {
  background-color: var(--strong-cyan);
  box-shadow: 0 3px 5px hsl(171, 75%, 33%);
}

.green:hover {
  background-color: hsl(171, 52%, 58%);
  box-shadow: 0 3px 5px hsl(171, 42%, 38%);
}

.blue {
  background-color: var(--light-blue);
  box-shadow: 0 3px 5px hsl(233, 57%, 51%);
}

.blue:hover {
  background-color: hsl(233, 98%, 77%);
  box-shadow: 0 3px 5px hsl(233, 36%, 46%);
}

/* SNIPPETS */
.heading--secondary {
  color: var(--dark-grayish-blue);
  font-size: 2.17rem;
  margin-top: 1.3rem;
  margin-bottom: 1.2rem;
  font-weight: 600;
}

.snippets .description {
  font-size: 1.14rem;
  line-height: 1.65;
  margin-bottom: 5rem;
}

.snippets-box {
  display: flex;
  flex-direction: row;
  justify-items: center;

  overflow: hidden;
}

.snippets-box > * {
  flex: 1;
}

.snippets-img {
  width: 1200px;

  margin-left: -0.5rem;
}

.snippets-box img {
  height: 100%;
  margin-left: -1.5rem;
}

.snippets-advantages ul {
  list-style: none;
  padding-left: 4.9rem;
  max-width: 430px;

  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.snippets-advantages ul li:nth-child(1) {
  margin-top: 4rem;
}

.snippets-advantages ul li .heading--tertiary {
  margin-bottom: 0.1rem;
}
.snippets-advantages ul li {
  color: var(--grayish-blue);
  line-height: 1.8;
  font-size: 1.02rem;
  margin-bottom: 0.2rem;
}

.snippets-advantages ul li h3 {
  color: var(--dark-grayish-blue);
  font-size: 1.45rem;
}

.attribution {
  display: none;
}

/* ACCESS SECTION */
.access {
  margin-bottom: 2.8rem;
}

.access .heading--secondary {
  margin-top: 1rem;
}

.access .description {
  font-size: 1.15rem;
  line-height: 1.6;
  margin-bottom: 6.5rem;
}

/* SECTION FEATURES */
.xl {
  max-width: 1115px;
}

.features {
  margin-top: 1rem;
}

.features .description {
  font-size: 1.14rem;
  padding-top: 0.2rem;
  margin-bottom: 3.5rem;
}

.features-boxes {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
}

.features-box {
  padding: 1.3rem 0;
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#blacklist-icon {
  margin-bottom: 2.25rem;
}

.features-box img {
  margin-bottom: 2.8rem;
}

.feature-heading {
  color: var(--dark-grayish-blue);
  font-size: 1.45rem;
  margin-bottom: 1.26rem;
}

.feature-description {
  text-align: center;
  color: var(--grayish-blue);
  line-height: 1.66;
  font-size: 1.015rem;
}

/* LOGO BOXES */
.logos {
  padding-top: 0.85rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 6.02rem;
}

/* APPS SECTION */
.apps {
  padding-top: 0.4rem;
  margin-bottom: 9.6rem;
}

.apps .description {
  padding-top: 0.1rem;
  font-size: 1.15rem;
  line-height: 1.6;
}

/* FOOTER */
.footer {
  background: #f5f6f8;
  max-width: 1440px;
  height: 140px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  column-gap: 8.3rem;

  min-width: 1115px;
  height: 100%;
}

.footer-logo {
  width: 3.54rem;
  height: 3.54rem;
}

.footer img {
  width: 100%;
}

.footer .links ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 192px);
  grid-template-rows: repeat(2, 50px);
  align-items: center;
  justify-content: center;

  padding-top: 0.5rem;
}

.links a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
  transition: color 0.3s;
}

.links a:hover {
  color: hsl(171, 52%, 58%);
}

.footer .social-icons {
  justify-self: right;
}

.social-icons {
  padding-left: 5.5rem;
  padding-top: 0.3rem;
  display: flex;
  column-gap: 1.2rem;
  font-size: 30px;
  color: var(--dark-grayish-blue);
}
.icon {
  transition: color 0.3s;
}

.icon:hover {
  cursor: pointer;
  color: hsl(171, 52%, 58%);
}


/* MEDIA QUERIES */
@media only screen and (max-width: 768px){


body{
  background: url('images/bg-header-mobile.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}



.container{
  max-width: 90vw;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
}

.container .logo{
  width: 12rem;
}

.container .heading--primary{
  text-align: center;
  padding: 0 .7rem;
}

.container .buttons{
  flex-direction: column;
  width:100%;
  row-gap: 1rem;
}

.container .btn {
  width: 100%;
  text-align: center;
}



.snippets-img {
width:100%;
margin:0;
}

.snippets-img img{
  width:300px;
  height: auto;
  margin:0;
}

.container .access{
  max-width: 100%;
}

.image-devices{
  width:100%;
}

.snippets-box,
.logos,
.footer-content{
  flex-direction: column;
}
}
